<% layout('../layouts/boilerplate') %>
<h1 class="display-03">All Campgronds</h1>
<% for(var camp of campgrounds) { %>
<div class="card">
  <div class="row">
    <div class="col-md-4">
      <img src="<%= camp.img %>" alt="" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= camp.title %></h4>
        <p class="card-text"><%= camp.description %></p>
      </div>
    </div>
  </div>
</div>

<div id="item" class="m-2 p-1">
  <div class="row m-2">
    <div class="col-1"></div>
    <div class="col-5"></div>
    <div class="col-3 mx-auto">
      <a href="/campgrounds/<%= camp.id %>" class="btn btn-secondary"
        >Details</a
      >
    </div>
    <form
      class="col-3 mx-auto"
      method="POST"
      action="/campground/<%= camp.id %>?_method=DELETE"
    >
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
<% } %>
