<% layout('../layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card"></div>
    <img src="<%= camp.img %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <h6 class="card-location" style="font-weight: 900;"><%= camp.city %></h6>
        <p class="card-text"><%= camp.description %></p>
        <h6 class="card-price"><%= camp.price %></h6>
        <a href="/campgrounds/<%= camp.id %>/update"
          style="width: 200px"
          class="btn btn-secondary">Update</a>
        </div>
    </div>
  </div>
</div>

<div
  id="item"
  class="bg-info m-2 p-1"
  style="border: 1px violet solid; border-radius: 10%"
>
  <div class="row m-2 text-dark" style="text-align: center">
    <div class="col-6"><%= camp.location %></div>
  </div>
</div>
<div class="row my-3">
  <a href="/campgrounds" class="btn col-5 btn-primary mx-auto">Back to List</a>
</div>
