<% layout('../layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px"></div>
<h4 class="display-6 mt-4" style="text-align: center">Search Campgorund</h4>
<div class="form-group col-6 mx-auto mb-5 mt-2">
  <form
    method="GET"
    novalidate
    action="/campgrounds/search"
    class="validated-form"
  >
    <div class="input-group">
      <input
        type="text"
        id="search"
        name="campName"
        placeholder="Search Campground ... "
        class="form-control rounded-pill border border-success"
        required
      />
      <button type="submit" class="btn btn-success rounded-circle">
        <div
          style="
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          "
        >
          &#9906;
        </div>
      </button>
    </div>
    <div class="valid-feedback">&#10004; Looks Good</div>
  </form>
</div>
<div
  class="col-5 mx-auto my-3"
  style="display: flex; flex-wrap: wrap; justify-content: center"
>
  <a
    href="/campgrounds"
    class="display-03 btn btn-outline-primary col-12 rounded-pill"
    style="font-size: 30px"
    >All Campgrounds</a
  >
</div>
<div
  id="allCampgrounds"
  style="display: flex; flex-wrap: wrap; justify-content: space-evenly"
>
  <% for(var camp of campgrounds) { %>
  <div
    id="campgroundCard"
    class="card my-3 mx-1"
    style="width: 32%; min-width: 400px"
  >
    <div class="row">
      <div
        id="campgroundCarousel"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner" style="height: 100%">
          <% camp.images.forEach((img,i) => { %>
          <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
            <img
              src="<%= img.thumbnail %>"
              class="d-block w-100"
              style="width: 500px; height: 300px"
              alt=""
            />
          </div>
          <% })%>
        </div>
        <% if (camp.images.length > 1) { %>
        <a class="carousel-control-prev" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        <% } %>
      </div>
      <div
        class="card-body m-2"
        style="
          border-left: 1px black solid;
          border-right: 1px black solid;
          border-bottom: 1px black solid;
          border-radius: 10%;
        "
      >
        <h4 class="card-title" style="font-weight: 700"><%= camp.title %></h4>
        <p class="card-text"><%= camp.description %></p>
        <h6 class="card-location"><%= camp.location %></h6>
        <div
          class="row mt-5"
          style="display: flex; flex-wrap: wrap; justify-content: space-evenly"
        >
          <div
            class="col"
            style="
              width: 50%;
              max-width: 200px;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-evenly;
            "
          >
            <a
              href="/campgrounds/<%= camp.id %>"
              class="btn btn-secondary rounded-pill"
              >Details</a
            >
          </div>
          <div
            class="col"
            style="
              width: 50%;
              max-width: 200px;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-evenly;
            "
          >
            <% if ( currentUser && camp.author.equals(currentUser._id)) { %>
            <form
              method="POST"
              action="/campgroundS/<%= camp.id %>?_method=DELETE"
            >
              <button type="submit" class="btn btn-danger rounded-pill">
                Delete
              </button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const allCampgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>

<script src="/javascripts/mapCluster.js"></script>
