<% layout('../layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px"></div>
<h1 class="display-03 m-3">All Campgronds</h1>
<div
  id="allCampgrounds"
  style="display: flex; flex-wrap: wrap; justify-content: space-between"
>
  <% for(var camp of campgrounds) { %>
  <div
    id="campgroundCard"
    class="card m-1"
    style="width: 32%; border: 1px black solid"
  >
    <div class="row">
      <div
        id="campgroundCarousel"
        class="carousel slide"
        data-bs-ride="carousel"
        style="height: 50%"
      >
        <div class="carousel-inner">
          <% camp.images.forEach((img,i) => { %>
          <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
            <img src="<%= img.url %>" class="d-block w-100" alt="" />
          </div>
          <% })%>
        </div>
        <% if (camp.images.length > 1) { %>
        <a
          class="carousel-control-prev"
          type="button"
          data-bs-target="#campgroundCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          type="button"
          data-bs-target="#campgroundCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        <% } %>
      </div>
      <div class="card-body m-2">
        <h4 class="card-title" style="font-weight: 700"><%= camp.title %></h4>
        <p class="card-text"><%= camp.description %></p>
        <h6 class="card-location"><%= camp.location %></h6>
        <div class="row mt-3">
          <div class="col-3 mx-auto">
            <a href="/campgrounds/<%= camp.id %>" class="btn btn-secondary"
              >Details</a
            >
          </div>
          <% if ( currentUser && camp.author.equals(currentUser._id)) { %>
          <form
            class="col-3 mx-auto"
            method="POST"
            action="/campgroundS/<%= camp.id %>?_method=DELETE"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const allCampgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>

<script src="/javascripts/mapCluster.js"></script>
