<% layout('../layouts/boilerplate') %>
<div class="row my-5 mx-1">
  <div class="card col-6">
    <img src="<%= camp.img %>" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= camp.title %></h5>
      <h6 class="card-location" style="font-weight: 900"><%= camp.city %></h6>
      <figure>
        <blockquote class="blockquote">
          <p><%= camp.description %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Source Title"><%= camp.author.username %></cite>
        </figcaption>
      </figure>
      <h6 class="card-price" style="font-weight: 700">
        Price : $<%= camp.price %>
      </h6>
      <% if ( currentUser && camp.author.equals(currentUser._id)) { %>
      <a
        href="/campgrounds/<%= camp.id %>/update"
        style="width: 200px"
        class="btn btn-info"
        >Update</a
      >
      <% } else { %>
      <a
        style="pointer-events: none; width: 200px"
        href="/campgrounds/<%= camp.id %>/update"
        disabled
        class="btn btn-info"
        >Update</a
      >

      <% } %>
    </div>
  </div>
  <div class="card col-6">
    <h5
      class="display-6 review"
      style="
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
      "
    >
      Leave a Review😊
    </h5>
    <form
      action="/campgrounds/<%= camp.id %>/reviews"
      method="POST"
      class="validated-form m-1"
      novalidate
    >
      <label for="rating" class="form-label">Rating</label>
      <input
        type="range"
        min="1"
        max="5"
        required
        step="1"
        name="review[rating]"
        class="form-range"
        id="rating"
      />
      <div class="form-group m-1">
        <label for="body" class="form-label">Review</label>
        <textarea
          name="review[body]"
          class="form-control"
          id="body"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">&#10004; Looks Good</div>
        <button
          type="submit"
          class="btn d-grid col-12 btn-success my-2 mx-auto"
        >
          Submit
        </button>
      </div>
    </form>
    <% for(var review of camp.reviews){ %>
    <div class="card p-2 m-1">
      <div class="row">
        <div class="col-11">
          <h5 class="display-8" style="font-weight: 700; font-size: 30px">
            Rating : <%= review.rating %>
          </h5>
          <h5 class="display-10" style="font-weight: 500; font-size: 25px">
            Review : <%= review.body %>
          </h5>
        </div>
        <div
          class="col-1 d-flex"
          style="justify-content: center; align-items: center"
        >
          <form
            action="/campgrounds/<%= camp.id %>/reviews/<%= review.id %>?_method=DELETE"
            method="POST"
          >
            <button
              class="btn btn-outline-danger me-2"
              type="submit"
              style="border-radius: 50%; font-weight: 900"
            >
              X
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
