<% layout('../layouts/boilerplate') %>
<div class="row my-5 mx-1">
  <div class="card col-6">
    <img src="<%= camp.img %>" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"><%= camp.title %></h5>
      <h6 class="card-location" style="font-weight: 900"><%= camp.city %></h6>
      <p class="card-text"><%= camp.description %></p>
      <h6 class="card-price" style="font-weight: 700">
        Price : $<%= camp.price %>
      </h6>
      <a
        href="/campgrounds/<%= camp.id %>/update"
        style="width: 200px"
        class="btn btn-info"
        >Update</a
      >
    </div>
  </div>
  <div class="card col-6 mx-1">
    <h5 class="display-6 review">Leave a Review😊</h5>
    <div class="card">
      <label for="rating" class="form-label">Rating</label>
      <input type="range" class="form-range" id="rating" />
      <label for="review" class="form-label">Review</label>
    </div>
    <% for(var review of camp.reviews ) { %>
    <div class="card">
      <h4 class="card-title"><%= review.rating %></h4>
      <h5 class="card-body"><%= review.body %></h5>
    </div>
    <% } %>
  </div>
</div>
